.sectionList {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.section {
    width: 90%;
    background: #c3cee1;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.section span {
    width: 25%;
}
.section img {
    width: 20px;
    height: 20px;
    cursor: pointer;
    opacity: 0.4;
}